# Backend
HOST=127.0.0.1
PORT=3000
LOG_LVL=debug

# Throttle rate limit
THROTTLER_TTL=10 # Контролируемый временной промежуток в секундах
THROTTLER_LIMIT=1 # Количество попыток в заданный временной промежуток

# CORS Access enabled URLS
CORS_ACCESS_ENABLED_URLS=http://localhost:3000.loc, http://localhost:8000.loc

# POSTGRES
POSTGRES_URL=localhost
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB_NAME=town-group
POSTGRES_PORT=5432

# Telegram
TELEGRAM_BOT_AUTH_TOKEN=8143235459:AAHyj1m8QLWNbjFpy6_7Mp0JPeXXaq9UDpk
TELEGRAM_BOT_NAME=TestBot # Без @
TELEGRAM_WEBHOOK_DOMAIN='https://webhook.url/test' # Без завершающего слеша
TELEGRAM_WEBHOOK_PATH='/api/webhook/telegraf/:secret' # Начинается со слеша

# данные для Teelgram Userbot (получаем тут: https://my.telegram.org)
TELEGRAM_USERBOT_NAME=TestUSer # Обязательно - без @
TELEGRAM_USERBOT_API_ID=46358921 # Обязательно - ЧИСЛО
TELEGRAM_USERBOT_API_HASH='d13fd02866eb27304761b9c9857c1725'
TELEGRAM_USERBOT_SESSION_STRING='1AgAOMTQ5LjE1NC4xNjcuNTABu7lXTQDf982qWmnxfw0LSzaqg8epcwvFXJnkPu' # Сессия, полученная при первичной авторизации в телеграм-клиенте

# JWT
# --- Access
JWT_ACCESS_TOKEN_SECRET=3*DG453rfgffdo(&)
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
# --- Refresh
JWT_REFRESH_TOKEN_SECRET=FlOg0(vfgm*4m^)
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
